.button {
  position: absolute;
  top: var(--ae-rotate-y);
  transition: opacity 0.15s;
}

.prev {
  left: var(--ae-rotate-prev-x);
}

.next {
  left: var(--ae-rotate-next-x);
}

.enabled {
  cursor: pointer;
  opacity: 1;
}

.disabled {
  cursor: default;
  opacity: 0.5;
}
